body {
    background-color: $cream;
    color: $greyDark;
    font-family: 'Roboto', sans-serif;
    font-size: $font-size-6;
    height: 2000px;
    margin: 0 auto;
    max-width: 1680px;
    padding: 0;
} 